body {
	background: linear-gradient(90deg, rgb(22, 135, 237), rgb(20, 55, 90));
	color: white;
}
.back {
	background: linear-gradient(to top, rgba(217, 175, 217, 0.7) 0%, rgba(151, 217, 225, 0.7) 100%),url(test_img.jpg);
	width: 400px;
	padding-bottom: 20px;
	padding-left: 10px;
	border-radius: 30px;
	 margin:   auto; 
}
a{
	margin: 7px;
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 120%;
	background: radial-gradient(#F2B9A1, #EA6264);
	padding: 10px;
	border-radius: 20px;
}