body {
	background-color:rgb(39,141,218);
}
h1 {
	color: white;
}
.idback {
	background-color: white;
	width: 90%;
	height: 90px;
}
.idstring {
	line-height: 90px;
	margin-left: 20px;
	font-weight: bold;
}
ul {
  list-style-type: square;
}
.name,.poor,.midle,.rich,.many,.normal,.few {
	margin-left: 20px;
	border-bottom: solid 1px #cccccc; 
	width: 90%;
	font-size: 120%;

}
.mainback {
	background-color: white;
	margin-top: 30px;
	height: 210px;
	width: 70%;
	padding-top: 10px;
	border-radius: 10px;
}
.midle 
{
	font-weight: bold;
}
.rich {
	color:yellow;
}
.many {
	color: green;
}
.normal{
	color: orange;
}
.few {
	color: red;
}
p {
	font-size: 120%;
	margin: 0em 0px;
}
