


h1 {
color: white;
padding-left: 10px;
padding-top:70px;
margin: auto;
}
body {
	background-color:  #2b2bff;
	 margin: 0px;
	 -webkit-text-size-adjust: 100%;
}
table {
	border-collapse: collapse;
	table-layout: fixed;
	background-color: white;
	margin-bottom: 10px;
	margin-top:20px;
}
thead {
	background-color: rgb(2,74,148);
	color: white;
}
tr:nth-child(even) {
	background: rgb(199,216,247);
}
.name {
	width: 150px;
	color: white;
	font-weight: bold;
	padding-top: 5px;
}
.id {
	width: 30px;
	color: white;
	font-weight: bold;
	padding-top: 5px;
}
.price {
	width: 80px;
	font-weight: bold;
	color: white;
	padding-top: 5px;
}
.number {
	width: 100px;
	font-weight: bold;
	color: white;
	padding-top: 5px;
}
.maker {
	width: 120px;
	font-weight: bold;
	color: white;
	padding-top: 5px;

}

th {
	height: 10px;
	font-size: small;

}
td {
	border: 1px solid blue;
	padding: 5px;
	height: 20px;
}
.midle 
{
	font-weight: bold;
}
.rich {
	color:yellow;
}
.many {
	color: green;
}
.normal{
	color: orange;
}
.few {
	color: red;
}
.detail {
	width: 80px;
}
.rink {
	background-color: orange;
	color: white;
	font-size: 70%;
	padding: 5px;
	font-weight: bold;
	border-radius: 5px;
	text-decoration: none;
}

td a {
	text-decoration: none;
}
.sinki {
	color: black;
	background-color: pink;
	text-decoration: none;
	margin: 10px;
}
.edit {
	width: 80px;
}
.destroy {
	width: 80px;
}
button {
	outline: 0;
	border:none;
	background:none;
}
#header {
	color: white;
  font-size: 12px;
}
#header ul {
  position: fixed;
  list-style: none;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  background-color: #1f1682;
  height: 60px;
  width: 100%;
}
 
/*#header  {
  width: 16.6%;
  text-align: center;
  float: left;
  padding-top: 20px;
}*/
#header ul li{
	 height: 60px;
	 padding: 0px;
}
#header ul li a {
  text-decoration: none;
  color: white;
   display: block;
	 line-height: 60px;
}

.userinfo {
	color: white;
	/*display: table;*/
	padding-top: 15px;
}
.userdetail {
	/*display: table-cell;*/
  /*vertical-align: middle;*/
}

#header.dropdown-item {
	font-size: 130%;
	background-color: green;
}
.kirikae {
	color: white;
}

.search {
	color: white;
	padding-top: 10px;
}
.makerid {
	color: white;
	font-weight: bold;
}
.delete {
	margin: auto;
	padding-top: 10px;
}

.searchstock {
	width: 120px;
	margin-top: 10px;
	height: 20px;
}
.idback {
	background-color: white;
	width: 90%;
	height: 90px;
}
.idstring {
	line-height: 90px;
	margin-left: 20px;
	font-weight: bold;
}

#footer {
	
  width: 100%;
  position: fixed;
  bottom: 0px;
}
#footer ul {
  list-style: none;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  background-color: #1f1682;
  height: 20px;
}
 
#footer ul li {
  width: 20%;
  text-align: center;
  float: left;
}
 
#footer ul li a {
  text-decoration: none;
  color: white;

}
.shousai {
  list-style-type: square;
}
.mainback {
	background-color: white;
	margin-top: 30px;
	height: 250px;
	width: 70%;
	padding-top: 10px;
	border-radius: 10px;
}
.shousainame {
	color: black;
}
.shousainame,.shousaipoor,.shousaimidle,.shousairich,.shousaimany,.shousainormal,.shousaifew {
	margin-left: 20px;
	border-bottom: solid 1px #cccccc; 
	width: 90%;
	font-size: 120%;

}
.shousaimidle 
{
	font-weight: bold;
}
.shousairich {
	color:yellow;
}
.shousaimany {
	color: green;
}
.shousainormal{
	color: orange;
}
.shousaifew {
	color: red;
}
.back {
	padding-top: 30px;

}
.form-group {
	width: 150px;
}
.select {
	width: 150px;
}
.drinksearch {
	background-color: #33FFFF;
	padding: 20px;
	margin-top: 20px;
	width: 200px;
}
.text {
	background-color:transparent;
	color: orange;
}
#contents {
	padding: 20px;
}

.drinkbotton {
	width: 100px;
}
.back a {
	color: white;
}